.form-items-codes
    & .custom-file-wrapper
        &:not(.show)
            max-height 0
            overflow hidden
    & .singleCode
        &.hide
            display none !important
.imagesProductContainer
    & > div
        position relative
        & button
            position absolute
            right 10px
            top 10px
            display none
        &:hover
            & button
                display block
    & img
        height auto !important
.headerListItem
    position relative
.btnCleamListProduct
    position absolute
    right 15px
    height 31px
    top 50%
    margin-top -15.5px