.nav-header
    font-weight 700
    height 100px
    background-color #fff !important
    /*Fonts*/
    // Style for "Início"
    color #808080
    font-size 16px
    font-weight 700
    font-style bold
    // Text style for "Início"
    color #000000
    & .navbar-brand
        margin-right 75px

body
    .btn-dark
        // Style for "Retângulo"
        width 199px
        height 50px
        border-radius 5px
        background-color #000000
        display flex
        align-items center
        justify-content center
        padding 0
        /* Font */
        // Style for "Autenticar"
        color #ffffff
        font-family "Futura Std"
        font-size 16px
        font-weight 700