body
    & .btn-transparent-dark
        color: #fff
        background-color transparent
        border-color transparent
        color rgba(31, 45, 65, 0.5) !important
    & .btn
        &.btn-datatable
            height: 20px !important
            width: 20px !important
            font-size: 0.75rem
            border-radius: 0.35rem !important
    & .feather
        height: 1rem
        width: 1rem

.table-responsive
    & .dataTable
        font-size: 0.85rem
    & table.dataTable thead,
    & table.dataTable tfoot
        color #0061f2 !important