.distributors
    // Style for "email1@hot"
    color #fff
    font-family "Futura Std"
    font-size 18px
    font-weight 400
    line-height 30px
    
    & h3
        // Style for "Ciudad del"
        color #fff
        font-family "Futura Std"
        font-size 24px
        font-weight 700
        & i
            font-style normal
            color #fff
.partnerContent
    white-space: pre-wrap