.page-product
    & .banner-bottom
        margin-top 0

body
    & .page-product-list
        margin-top 10px !important
.page-product-list
    
    & .btn
        // Style for "ver detalh"
        // Style for "Retângulo"
        width 146px
        height 50px
        background-color #fafafa
        padding 0
        line-height 1
        color #333333
        font-size 16px
        padding 17px 30px
        font-weight 400
        &:hover
            background-color: #d0b58b
            color: #000
            border-color #000
    & > div
        padding-right 0
        padding-left 15px
        padding-top 10px
        padding-bottom 10px
        margin-top 10px !important
        & .product-thumbnail
            flex 0 0 207px
        & > div
            overflow hidden
            & > .row
                max-width 100%
                width 440px

        @media screen and (max-width: 995px)
            padding-left 0
            & .productLink
                order 0 !important
        & .product-thumbnail
            order 1
            margin-left 46px
            padding 0
            margin-bottom -10px
            @media screen and (max-width: 995px)
                order 1
                margin-left 0
                width 100%
                flex 0 0 100%
                text-align center !important
                & img
                    width 90%
        & .product-media
            text-align right 
            justify-content flex-start
            & > div
                justify-content flex-start
                @media screen and (max-width: 995px)
                    justify-content flex-start !important
        &:nth-child(odd)
            padding-right 15px
            padding-left 0
            & > div
                & .row
                    text-align left 
                    margin-left auto
            @media screen and (max-width: 995px)
                padding-right 0
                margin-left 0
                & > div
                    & .row
                        margin-left initial
            & .product-media
                text-align right 
                justify-content flex-end
                & > div
                    justify-content flex-end
                @media screen and (min-width: 1024px)
                    margin-left auto
                @media screen and (max-width: 995px)
                    & > div
                        justify-content flex-start !important
            & .product-thumbnail
                order 0
                margin-right 46px
                margin-left 0
                padding 0
                @media screen and (max-width: 995px)
                    margin-right 0
                    order 1
        &:nth-child(3n+1)
            & > div
                background-color #bbbbbb
                color #000000
                & h1
                    color #000000
        & > div
            color #ffffff
            padding-top 80px
            background-color #000000
            padding 80px 43px
            padding-bottom 0
            min-height 490px
            & h1
                color #ffffff
            