.modalFormSearch
    & label
        font-size 1.5rem
    & .modal-header
        & .close
            position relative
            padding 0
            border 1px solid #eaeaea
            border-top-width 0
            border-right-width 0
            opacity 1
            color #a1a1a1
            font-size 14px
            font-weight 400
            width 38px
            height 38px
            display flex
            align-items center
            justify-content center
            text-shadow none
            cursor pointer
            &:before
                background #CF423C
                top 0
                left 0
                right 0
                bottom 0
                z-index -1
                content ""
                position absolute
                transition all .2s ease
                transform scaleX(0)
                border-radius 0
            &:hover
                color #fff
                &:before
                    transform: scaleX(1)

body
    form
        & .submitSearch
            position relative
            display flex
            align-items center
            justify-content center
            text-shadow none
            cursor pointer
            z-index 1
            color #fff
            &:before
                background #4e73df
                top 0
                left 0
                right 0
                bottom 0
                z-index -1
                content ""
                position absolute
                transition all .2s ease
                transform scaleX(1)
                border-radius 100px
            &:hover
                color #fff
                &:before
                    background #28a745
                    transform: scaleX(0)
