@font-face
    font-family "Futura Std"
    font-style normal
    src url(../fonts/FuturaStd-Medium.otf) format("opentype")
    font-weight 400
@font-face
    font-family "Futura Std"
    font-style normal
    src url(../fonts/FuturaStd-Bold.otf) format("opentype")
    font-weight 700
@font-face
    font-family "Futura Std"
    font-style normal
    src url(../fonts/FuturaStd-Heavy.otf) format("opentype")
    font-weight 500
@font-face
    font-family "Futura Std"
    font-style italic
    src url(../fonts/FuturaStd-MediumOblique.otf) format("opentype")
    font-weight 400
@font-face
    font-family "Futura Std"
    font-style normal
    src url(../fonts/FuturaStd-Heavy.otf) format("opentype")
    font-weight 600
@font-face
    font-family "Futura Std"
    font-style normal
    src url(../fonts/FuturaStd-Book.otf) format("opentype")
    font-weight 300


/* html
    scroll-behavior: smooth */
html
    height 100%
.wrapper-404
    min-height 100%
    & #content
        height calc(100% - 80px)
body 
    &.page
        font-family "Futura Std" !important
        margin: 0
        padding: 0
        min-height 100%
        position relative
        padding-bottom 100px
        height auto !important
        background-color #000
    & > footer
        height 100px
        position absolute
        bottom 0
        background-color #000
        // Style for "Copyright"
        color #fff
        font-size 14px
        font-weight 400

.insertProduct
    & .custom-file
        & label
            overflow hidden

.imagesProductContainer
    & img
        &:hover, &.active
            border-color #5AAD75

body
    & .text-white
        &, & h1
            color #fff !important
        & h1
            margin-bottom 0
        & p
            color #fafafa !important
    &.page
        & .text-white
            &, & h1
                color #e4ae59 !important
            & h1
                margin-bottom 0
            & p
                color #fafafa !important
        .whats-icon
            position fixed
            right 30px
            bottom 125px
            z-index 9999
            &:hover
                opacity .7
        & h1
            // Style for "BratvaLabs"
            color #e4ae59
            font-size 32px
            font-weight 700
        & h5
            // Style for "BratvaLabs"
            // Style for "Conheça a"
            color #000000
            font-size 20px
            font-weight 400
            line-height 36px
            // Text style for "Conheça a"
            letter-spacing 0.3px
    & .btn-gold
        // Style for "Retângulo"
        display flex
        justify-content center
        align-items center
        width 199px
        height 50px
        border-radius 5px
        background-color #d0b58b
        // Style for "Ver Bula"
        color #000000
        font-family "Futura Std"
        font-size 16px
        font-weight 700
    & .btn-gray
        width 100%
        // Style for "Retângulo"
        height 60px
        border-radius 5px
        background-color #e4ae59
        color #000000
        // Style for "entrar no"
        font-size 20px
        font-weight 400
        // Text style for "entrar no"
        letter-spacing 0.5px
        &:hover
            background-color: #fff;
            color: #000;
            border-color: #000
        
        
    & .btn-black
        width 100%
        // Style for "Retângulo"
        height 60px
        border-radius 5px
        background-color #e4ae59
        color #000000
        // Style for "entrar no"
        font-size 20px
        font-weight 400
        // Text style for "entrar no"
        letter-spacing 0.5px
        border 2px solid transparent
        &:hover
            background-color #fff
            color #000
            border-color #000
    & .bg-black
        // Style for "Retângulo"
        height 490px
        background-color #131313
        color #fff
        @media screen and (min-width: 1024px)
            padding-right 80px !important
        @media screen and (max-width: 995px)
            text-align: center !important
            & .newsForm
                margin 30px auto !important
    & .bg-gray
        // Style for "Retângulo"
        height 490px
        background-color #131313
        color #000000
        & p
            color #fafafa

        & small
            display block
            margin-top 16px
            margin-bottom -36px
            a
                color #555555
        @media screen and (min-width: 1024px)
            padding-left 80px !important
        @media screen and (max-width: 995px)
            text-align: center !important
            & form
                margin 30px auto !important
    .miniforms
        // Style for "BratvaClub"
        font-size 20px
        font-weight 400
        line-height 26px
        // Text style for "Faça parte"
        letter-spacing 0.2px
        margin-left 10px
        @media screen and (min-width: 1024px)
            &.text-white
                margin-left 0
                margin-right 10px
        
        & h1
            font-size 32px
            font-weight 700
        & form 
            max-width 320px
            width 320px
            & input
                height 50px

 

    