@font-face
    font-family "Futura Std"
    font-style normal
    src url(../fonts/FuturaStd-Medium.otf) format("opentype")
    font-weight 400
@font-face
    font-family "Futura Std"
    font-style normal
    src url(../fonts/FuturaStd-Bold.otf) format("opentype")
    font-weight 700
@font-face
    font-family "Futura Std"
    font-style normal
    src url(../fonts/FuturaStd-Heavy.otf) format("opentype")
    font-weight 500
@font-face
    font-family "Futura Std"
    font-style italic
    src url(../fonts/FuturaStd-MediumOblique.otf) format("opentype")
    font-weight 400
@font-face
    font-family "Futura Std"
    font-style normal
    src url(../fonts/FuturaStd-Heavy.otf) format("opentype")
    font-weight 600
@font-face
    font-family "Futura Std"
    font-style normal
    src url(../fonts/FuturaStd-Book.otf) format("opentype")
    font-weight 300


html
    scroll-behavior: smooth
body 
    margin: 0
    padding: 0
    &.page
        font-family "Futura Std" !important
    & > footer
        height 100px
        // Style for "Copyright"
        color #333333
        font-size 14px
        font-weight 400

.insertProduct
    & .custom-file
        & label
            overflow hidden

.imagesProductContainer
    & img
        &:hover, &.active
            border-color #5AAD75

body
    & .text-white
        &, & h1
            color #fff !important
        & h1
            margin-bottom 0
    &.page
        & h1
            // Style for "BratvaLabs"
            color #000000
            font-size 32px
            font-weight 700
        & h5
            // Style for "BratvaLabs"
            // Style for "Conheça a"
            color #000000
            font-size 20px
            font-weight 500
            line-height 36px
            // Text style for "Conheça a"
            letter-spacing 0.3px
    & .btn-gold
        // Style for "Retângulo"
        display flex
        justify-content center
        align-items center
        width 199px
        height 50px
        border-radius 5px
        background-color #d0b58b
        // Style for "Ver Bula"
        color #000000
        font-family "Futura Std"
        font-size 16px
        font-weight 700
    & .btn-gray
        width 100%
        // Style for "Retângulo"
        height 60px
        border-radius 5px
        background-color #555555
        color #ffffff
        // Style for "entrar no"
        font-size 20px
        font-weight 400
        // Text style for "entrar no"
        letter-spacing 0.5px
        &:hover
            background-color: #fff;
            color: #000;
            border-color: #000
    & .btn-black
        width 100%
        // Style for "Retângulo"
        height 60px
        border-radius 5px
        background-color #000000
        color #ffffff
        // Style for "entrar no"
        font-size 20px
        font-weight 400
        // Text style for "entrar no"
        letter-spacing 0.5px
        border 2px solid transparent
        &:hover
            background-color #fff
            color #000
            border-color #000
    & .bg-black
        // Style for "Retângulo"
        height 490px
        background-color #000000
        color #fff
        @media screen and (min-width: 1024px)
            padding-right 80px !important
        @media screen and (max-width: 995px)
            text-align: center !important
            & .newsForm
                margin 30px auto !important
    & .bg-gray
        // Style for "Retângulo"
        height 490px
        background-color rgba(0,0,0,0.25)
        color #000000
        @media screen and (min-width: 1024px)
            padding-left 80px !important
        @media screen and (max-width: 995px)
            text-align: center !important
            & form
                margin 30px auto !important
    .miniforms
        // Style for "BratvaClub"
        font-size 20px
        font-weight 400
        line-height 26px
        // Text style for "Faça parte"
        letter-spacing 0.2px
        margin-left 10px
        @media screen and (min-width: 1024px)
            &.text-white
                margin-left 0
                margin-right 10px
        
        & h1
            font-size 32px
            font-weight 700
        & form 
            max-width 320px
            width 320px
            & input
                height 50px

 

    