{{>header}}
<!-- Header // -->

{{>fullBanner}}
<!-- Full Banner // -->

<div class="container home-about text-center">
    <div class="col-md-8 mx-auto px-0">
        <h1 class="my-5">BratvaLabs®</h1>
        <p>
            Estamos entre os laboratórios farmacêuticos mais renomados da Europa.
            Desenvolvemos a mais segura tecnologia de fármacos para atletas de alta performance,
            e realizamos negócios há mais de 25 anos, exportando para 30 países
            ao redor de 4 continentes pelo mundo. Esse é nosso know-how global.
            E agora <i>“the growth science to powerul results”</i> chega ao Paraguay.
        </p>

        <h4 class="my-5"><a href="/products">Conheça nossos produtos ></a></h4>
    </div>
</div>

<div class="banner-bottom">
    <img src="/img/banner-bottom.jpg" width="100%" alt="minibanner-bratva">
</div>
<!-- Content // -->
<div class="container-fluid p-0 mt-3 forms-home">
    <div class="row">
        <div class="col-md-6 bg-black miniforms text-right py-5">
            <h1>BratvaClub®</h1>
            <p>
                Faça parte da exclusiva<br>
                família Bratva. Inscreva-se.
            </p>

            <!-- Form newsletter // -->
            <form class="ml-auto mt-4">
                <div class="form-group">
                    <input type="email" class="form-control" id="news-email" autocomplete="email"
                        aria-describedby="emailHelp" placeholder="seu e-mail">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" autocomplete="full-name" id="news-username"
                        placeholder="nome completo">
                </div>

                <button type="submit" class="btn btn-gray">entrar no clube</button>
            </form>
        </div>
        <!-- Newsletter // -->

        <div class="col-md-6 miniforms bg-gray py-5">
            <h1>BratvaOriginals®</h1>
            <p>
                Insira o código do produto <br>
                para autenticar seu Bratva.
            </p>

            <!-- Form consulta codigo // -->
            <form class="mr-auto mt-4">
                <div class="form-group">
                    <input type="email" class="form-control" id="news-email" autocomplete="email"
                        aria-describedby="emailHelp" placeholder="seu e-mail">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" autocomplete="code" id="news-username"
                        placeholder="código do produto">
                </div>

                <button type="submit" class="btn btn-black">entrar no clube</button>
            </form>
        </div>
        <!-- Consulta codigo // -->
    </div>
</div>
<!-- Content // -->
<div class="container-fluid partnerts d-flex align-items-center justify-content-center mt-3 text-center">

    <div class="container">
        <div class="col">
            <h1>Bratva Global Certification</h1>
            <div class="row mt-5">

                <div class="col-3">
                    <img src="http://via.placeholder.com/140" alt="">
                </div>
                <div class="col-3">
                    <img src="http://via.placeholder.com/140" alt="">
                </div>
                <div class="col-3">
                    <img src="http://via.placeholder.com/140" alt="">
                </div>
                <div class="col-3">
                    <img src="http://via.placeholder.com/140" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
{{>footer}}