{{>header}}
<!-- Header // -->

{{>fullBanner}}
<!-- Full Banner // -->

<div class="container home-about text-center">
    <div class="col-md-8 mx-auto px-0">
        {{{home.content}}}
    </div>
</div>

<div class="banner-bottom">
    <img src="/img/banner-strong.png" width="100%" alt="minibanner-bratva">
</div>
<!-- Content // -->
<div class="container-fluid p-0 mt-3 forms-home">
    <div class="row">
        <div class="col bg-black miniforms d-flex flex-column justify-content-center text-white text-right py-xl-5">
            <h1>BratvaClub®</h1>
            <p>
                Faça parte da exclusiva<br>
                família Bratva. Inscreva-se.
            </p>

            <!-- Form newsletter // -->
            <form class="ml-auto mt-xl-4 newsForm">
                <div class="form-group">
                    <input type="email" class="form-control subEmail" id="subEmail" autocomplete="email"
                        aria-describedby="emailHelp" placeholder="seu e-mail">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control subName" autocomplete="full-name" id="subName"
                        placeholder="nome completo">
                </div>

                <button type="submit" class="btn btn-gray">entrar no clube</button>
            </form>
        </div>
        <!-- Newsletter // -->

        <div class="col miniforms d-flex flex-column justify-content-center bg-gray py-5" id="validateProduct">
            <h1>BratvaOriginals®</h1>
            <p>
                Insira o código do produto <br>
                para autenticar seu Bratva.
            </p>

            <!-- Form consulta codigo // -->
            <form class="mr-auto mt-4 formValidateCode">
                <div class="form-group">
                    <input type="email" class="form-control consultMail" id="consultMail" autocomplete="email"
                        aria-describedby="emailHelp" placeholder="seu e-mail">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control consultCode" autocomplete="code" id="consultCode"
                        placeholder="código do produto">
                </div>
                <!-- modalConsult -->
                <button type="submit" class="btn btn-black">consultar código</button>
            </form>
        </div>
        <!-- Consulta codigo // -->
    </div>
</div>
<!-- Content // -->
<div class="container-fluid partnerts d-flex align-items-center justify-content-center mt-3 text-center">

    <div class="container">
        <div class="col">
            <h1>Bratva Global Certification</h1>
            <div class="row mt-5">

                <div class="col-md-3 mb-2 d-flex align-items-center justify-content-center">
                    <img src="/img/iso-13495.png" alt="">
                </div>
                <div class="col-md-3 mb-2 d-flex align-items-center justify-content-center">
                    <img src="/img/iso-15370.png" alt="">
                </div>
                <div class="col-md-3 mb-2 d-flex align-items-center justify-content-center">
                    <img src="/img/word-organization.png" alt="">
                </div>
                <div class="col-md-3 mb-2 d-flex align-items-center justify-content-center">
                    <img src="/img/iso-17025.png" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
{{>modalConsult}}
{{>modalErrorValidation}}
{{>modalConsultNotFound}}
{{>footer}}