<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row loginPage">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Seja bem vindo!</h1>
                                </div>
                                <form class="user needs-validation">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user loginMail"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Entre com seu Email..." autocomplete="username" required>
                                        <div class="invalid-feedback">
                                            O campo e-mail é obrigatório
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user loginPassword"
                                            id="exampleInputPassword" placeholder="Senha"
                                            autocomplete="current-password" required>
                                        <div class="invalid-feedback">
                                            O campo password é obrigatório
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                                        </div>
                                    </div>

                                    <a href="index.html" class="btn btn-primary btn-user btn-block btnLogin">
                                        Login
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/forgot">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="register.html">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{rcSiteKey}}"></script>
<script>
    function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function () {
            grecaptcha.execute('{{rcSiteKey}}', { action: 'submit' }).then(function (token) {
                // Add your logic to submit to your backend server here.
                console.log(token)
            });
        });
    }
</script>