<div class="col-xl-4">
    <div class="card shadow mb-4 editProductsCodes">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Códigos e Itens do produto</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="pt-4 pb-2">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                {{>editProductItem}}
            </div>
        </div>
    </div>
</div>