<footer class="container-fluid sticky-bottom d-flex align-items-center mt-5 pageFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Copyright © 2020 Bratva Labs Paraguay. All rights reserved.
            </div>
            <div class="col-md-6 text-right">
                <svg xmlns="http://www.w3.org/2000/svg" width="185" height="37" viewBox="0 0 185 37">
                    <g id="Objeto_Inteligente_de_Vetor" data-name="Objeto Inteligente de Vetor"
                        transform="translate(0 0)">
                        <path id="Caminho_66" data-name="Caminho 66"
                            d="M165.885,26.929l3.076-4.379h7.031c-.22-.219-.439-.657-.879-1.095-.22-.438-.659-.876-.879-1.314l-3.076-4.379-7.91,11.166H157.1l10.766-15.107,1.318-1.314a3.074,3.074,0,0,1,1.977-.657,4.4,4.4,0,0,1,1.977.438l1.318,1.314L185,26.71H165.885ZM141.716,10.071l7.69,11.166,7.91-11.166h6.152L152.7,25.178l-1.318,1.314a2.692,2.692,0,0,1-1.977.657,4.4,4.4,0,0,1-1.977-.438L146.11,25.4,135.564,10.29h6.152Zm-6.591,0-3.3,4.379H125.9V26.929h-5.273V14.45h-7.91l3.3-4.379ZM98.213,26.929l3.076-4.379h7.031c-.22-.219-.439-.657-.879-1.095-.22-.438-.659-.876-.879-1.314l-3.076-4.379-7.91,11.166H89.424L100.19,11.823l1.318-1.314a3.074,3.074,0,0,1,1.977-.657,4.4,4.4,0,0,1,1.977.438l1.318,1.314L117.328,26.71H98.213Zm-9.008,0H82.173L78.438,22.55h-7.91v4.379H65.255V18.391H79.976a4.4,4.4,0,0,0,1.977-.438,1.583,1.583,0,0,0,.879-1.314,1.984,1.984,0,0,0-.659-1.533,4.741,4.741,0,0,0-2.2-.438H65.255l3.3-4.379H79.317a15.619,15.619,0,0,1,3.076.219,6.247,6.247,0,0,1,2.856.876,5.181,5.181,0,0,1,1.977,1.751,6.194,6.194,0,0,1,.879,2.846,4.254,4.254,0,0,1-.22,1.751,3.526,3.526,0,0,1-.879,1.533,5.821,5.821,0,0,1-1.318,1.095,4.2,4.2,0,0,1-1.758.657c.22.219.659.438.879.876l1.318,1.314ZM46.36,20.361v2.408h9.667a2.386,2.386,0,0,0,1.318-.219,1.092,1.092,0,0,0,0-1.751c-.22-.219-.659-.219-1.318-.219H46.36ZM60.2,18.172a5.19,5.19,0,0,1,1.977,1.314,4.4,4.4,0,0,1,.659,2.408,6.041,6.041,0,0,1-.22,1.97,3.927,3.927,0,0,1-1.1,1.533,5.158,5.158,0,0,1-2.2,1.095,13.343,13.343,0,0,1-3.3.438H41.306V16.639H56.247a1.987,1.987,0,0,0,1.1-.219,1.092,1.092,0,0,0,0-1.751,1.651,1.651,0,0,0-1.1-.219H41.306l3.515-4.379H56.027a9.085,9.085,0,0,1,2.637.219,8.915,8.915,0,0,1,1.977,1.095,2.946,2.946,0,0,1,1.318,1.533,6.373,6.373,0,0,1,.439,1.97,2.768,2.768,0,0,1-.22,1.314c-.22.438-.22.657-.439,1.095-.22,0-.439.219-.659.438C60.641,17.953,60.422,18.172,60.2,18.172Z"
                            fill="#fff" />
                        <g id="Grupo_2" data-name="Grupo 2">
                            <path id="Caminho_67" data-name="Caminho 67" d="M18.456,20.8,11.865,3.722l3.076,15.544Z" />
                            <path id="Caminho_68" data-name="Caminho 68" d="M18.456,20.8,11.865,3.722l3.076,15.544Z"
                                fill="none" />
                            <path id="Caminho_69" data-name="Caminho 69" d="M18.456,20.8,11.865,3.722l8.349,13.355Z"
                                fill="#fff" />
                            <path id="Caminho_70" data-name="Caminho 70" d="M18.456,20.8,11.865,3.722l8.349,13.355Z"
                                fill="none" />
                            <path id="Caminho_71" data-name="Caminho 71" d="M16.918,20.58,23.949,3.5,15.38,16.639Z" />
                            <path id="Caminho_72" data-name="Caminho 72" d="M16.918,20.58,23.949,3.5,15.38,16.639Z"
                                fill="none" />
                            <path id="Caminho_73" data-name="Caminho 73" d="M16.918,20.58,23.949,3.5l-3.3,15.763Z"
                                fill="#fff" />
                            <path id="Caminho_74" data-name="Caminho 74" d="M16.918,20.58,23.949,3.5l-3.3,15.763Z"
                                fill="none" />
                            <path id="Caminho_75" data-name="Caminho 75" d="M16.7,19.7l16.039-7.663L18.017,15.763Z" />
                            <path id="Caminho_76" data-name="Caminho 76" d="M16.7,19.7l16.039-7.663L18.017,15.763Z"
                                fill="none" />
                            <path id="Caminho_77" data-name="Caminho 77" d="M16.7,19.7l16.039-7.663-12.524,9.2Z"
                                fill="#fff" />
                            <path id="Caminho_78" data-name="Caminho 78" d="M16.7,19.7l16.039-7.663-12.524,9.2Z"
                                fill="none" />
                            <path id="Caminho_79" data-name="Caminho 79"
                                d="M16.479,18.172l16.259,7.006L20.214,16.42Z" />
                            <path id="Caminho_80" data-name="Caminho 80" d="M16.479,18.172l16.259,7.006L20.214,16.42Z"
                                fill="none" />
                            <path id="Caminho_81" data-name="Caminho 81" d="M16.479,18.172l16.259,7.006L17.8,21.893Z"
                                fill="#fff" />
                            <path id="Caminho_82" data-name="Caminho 82" d="M16.479,18.172l16.259,7.006L17.8,21.893Z"
                                fill="none" />
                            <path id="Caminho_83" data-name="Caminho 83" d="M16.7,16.858l7.031,16.858-3.3-15.325Z" />
                            <path id="Caminho_84" data-name="Caminho 84" d="M16.7,16.858l7.031,16.858-3.3-15.325Z"
                                fill="none" />
                            <path id="Caminho_85" data-name="Caminho 85" d="M16.7,16.858l7.031,16.858L15.16,20.58Z"
                                fill="#fff" />
                            <path id="Caminho_86" data-name="Caminho 86" d="M16.7,16.858l7.031,16.858L15.16,20.58Z"
                                fill="none" />
                            <path id="Caminho_87" data-name="Caminho 87" d="M18.236,16.639l-6.372,17.3,7.91-13.355Z" />
                            <path id="Caminho_88" data-name="Caminho 88" d="M18.236,16.639l-6.372,17.3,7.91-13.355Z"
                                fill="none" />
                            <path id="Caminho_89" data-name="Caminho 89" d="M18.236,16.639l-6.372,17.3L14.5,18.172Z"
                                fill="#fff" />
                            <path id="Caminho_90" data-name="Caminho 90" d="M18.236,16.639l-6.372,17.3L14.5,18.172Z"
                                fill="none" />
                            <path id="Caminho_91" data-name="Caminho 91" d="M19.335,18.172,2.856,24.959,17.8,22.112Z" />
                            <path id="Caminho_92" data-name="Caminho 92" d="M19.335,18.172,2.856,24.959,17.8,22.112Z"
                                fill="none" />
                            <path id="Caminho_93" data-name="Caminho 93" d="M19.335,18.172,2.856,24.959,15.819,16.42Z"
                                fill="#fff" />
                            <path id="Caminho_94" data-name="Caminho 94" d="M19.335,18.172,2.856,24.959,15.819,16.42Z"
                                fill="none" />
                            <path id="Caminho_95" data-name="Caminho 95" d="M18.456,19.266,2.417,11.822l12.3,8.976Z" />
                            <path id="Caminho_96" data-name="Caminho 96" d="M18.456,19.266,2.417,11.822l12.3,8.976Z"
                                fill="none" />
                            <path id="Caminho_97" data-name="Caminho 97" d="M18.456,19.266,2.417,11.822l14.721,3.5Z"
                                fill="#fff" />
                            <path id="Caminho_98" data-name="Caminho 98" d="M18.456,19.266,2.417,11.822l14.721,3.5Z"
                                fill="none" />
                            <path id="Caminho_99" data-name="Caminho 99" d="M17.577,18.39l12.743-12.7L17.8,14.231Z" />
                            <path id="Caminho_100" data-name="Caminho 100" d="M17.577,18.39l12.743-12.7L17.8,14.231Z"
                                fill="none" />
                            <path id="Caminho_101" data-name="Caminho 101" d="M17.577,18.39l12.743-12.7L21.532,18.609Z"
                                fill="#fff" />
                            <path id="Caminho_102" data-name="Caminho 102" d="M17.577,18.39l12.743-12.7L21.532,18.609Z"
                                fill="none" />
                            <path id="Caminho_103" data-name="Caminho 103"
                                d="M17.577,18.39,5.053,5.473,13.622,18.39Z" />
                            <path id="Caminho_104" data-name="Caminho 104" d="M17.577,18.39,5.053,5.473,13.622,18.39Z"
                                fill="none" />
                            <path id="Caminho_105" data-name="Caminho 105" d="M17.577,18.39,5.053,5.473,17.8,14.231Z"
                                fill="#fff" />
                            <path id="Caminho_106" data-name="Caminho 106" d="M17.577,18.39,5.053,5.473,17.8,14.231Z"
                                fill="none" />
                            <path id="Caminho_107" data-name="Caminho 107" d="M17.577,18.39,5.273,31.527,17.8,22.55Z" />
                            <path id="Caminho_108" data-name="Caminho 108" d="M17.577,18.39,5.273,31.527,17.8,22.55Z"
                                fill="none" />
                            <path id="Caminho_109" data-name="Caminho 109" d="M17.577,18.39,5.273,31.527,13.622,18.39Z"
                                fill="#fff" />
                            <path id="Caminho_110" data-name="Caminho 110" d="M17.577,18.39,5.273,31.527,13.622,18.39Z"
                                fill="none" />
                            <path id="Caminho_111" data-name="Caminho 111"
                                d="M17.577,18.39,30.321,31.308,21.752,18.39Z" />
                            <path id="Caminho_112" data-name="Caminho 112" d="M17.577,18.39,30.321,31.308,21.752,18.39Z"
                                fill="none" />
                            <path id="Caminho_113" data-name="Caminho 113" d="M17.577,18.39,30.321,31.308,17.577,22.55Z"
                                fill="#fff" />
                            <path id="Caminho_114" data-name="Caminho 114" d="M17.577,18.39,30.321,31.308,17.577,22.55Z"
                                fill="none" />
                            <path id="Caminho_115" data-name="Caminho 115" d="M17.577,18.39,17.8,0,14.721,15.544Z" />
                            <path id="Caminho_116" data-name="Caminho 116" d="M17.577,18.39,17.8,0,14.721,15.544Z"
                                fill="none" />
                            <path id="Caminho_117" data-name="Caminho 117" d="M17.577,18.39,17.8,0l2.856,15.763Z"
                                fill="#fff" />
                            <path id="Caminho_118" data-name="Caminho 118" d="M17.577,18.39,17.8,0l2.856,15.763Z"
                                fill="none" />
                            <path id="Caminho_119" data-name="Caminho 119" d="M17.577,18.39,0,18.609l14.941,2.846Z" />
                            <path id="Caminho_120" data-name="Caminho 120" d="M17.577,18.39,0,18.609l14.941,2.846Z"
                                fill="none" />
                            <path id="Caminho_121" data-name="Caminho 121" d="M17.577,18.39,0,18.609l14.941-3.065Z"
                                fill="#fff" />
                            <path id="Caminho_122" data-name="Caminho 122" d="M17.577,18.39,0,18.609l14.941-3.065Z"
                                fill="none" />
                            <path id="Caminho_123" data-name="Caminho 123" d="M17.577,18.39,17.8,37l2.637-15.544Z" />
                            <path id="Caminho_124" data-name="Caminho 124" d="M17.577,18.39,17.8,37l2.637-15.544Z"
                                fill="none" />
                            <path id="Caminho_125" data-name="Caminho 125" d="M17.577,18.39,17.8,37,14.721,21.237Z"
                                fill="#fff" />
                            <path id="Caminho_126" data-name="Caminho 126" d="M17.577,18.39,17.8,37,14.721,21.237Z"
                                fill="none" />
                            <path id="Caminho_127" data-name="Caminho 127" d="M17.577,18.39l17.8.219L20.433,15.544Z" />
                            <path id="Caminho_128" data-name="Caminho 128" d="M17.577,18.39l17.8.219L20.433,15.544Z"
                                fill="none" />
                            <path id="Caminho_129" data-name="Caminho 129" d="M17.577,18.39l17.8.219-15.16,2.846Z"
                                fill="#fff" />
                            <path id="Caminho_130" data-name="Caminho 130" d="M17.577,18.39l17.8.219-15.16,2.846Z"
                                fill="none" />
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</footer>