<div class="col-xl-6">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Informações sobre o produto</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="needs-validation insertProduct" novalidate>
                <div class="form-row">
                    <!-- Name product -->
                    <div class="col-12 mb-3">
                        <label for="productName">Nome do produto</label>
                        <input type="text" class="form-control productName" name="product_name" id="productName"
                            placeholder="Nome do produto" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <!-- Peso product -->
                        <label for="productWeigth">Peso do produto</label>
                        <input type="text" class="form-control productWeigth" id="productWeigth"
                            placeholder="Peso do produto" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <!-- Peso product -->
                        <label for="productBrand">Marca do produto</label>
                        <input type="text" class="form-control productBrand" id="productBrand"
                            placeholder="Marca do produto" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 mb-3">
                        <!-- Lote product -->
                        <label for="productLot">Lote do produto</label>
                        <input type="text" class="form-control productLot" id="productLot" name="product_lot"
                            placeholder="Lote do produto" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <!-- Tipo de produto product -->
                        <label for="productType">Tipo de produto</label>
                        <select class="custom-select productType" name="product_type" id="productType" required>
                            <option selected value="unit">Unitário</option>
                            <option value="package">Pacote</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <!-- Disponibilidade do produto -->
                        <label for="productAvailability">Disponibilidade</label>
                        <select class="custom-select productAvailability" name="product_availability"
                            id="productAvailability" required>
                            <option selected value="available">Disponível</option>
                            <option value="unavailable">Indisponível</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Tipo de produto product -->
                    <label for="productExcerpt">Breve descrição</label>
                    <textarea class="form-control productExcerpt" name="product_excerpt" id="productExcerpt" rows="4"
                        placeholder="Uma breve descrição do produto"></textarea>
                </div>
                <div class="form-group">
                    <!-- Tipo de produto product -->
                    <label for="productDescription">Descrição do produto</label>
                    <textarea class="form-control productDescription" name="product_description" id="productDescription"
                        rows="4" placeholder="Descrição do produto"></textarea>
                </div>
                <div class="form-row">
                    <div class="col-xl-12">
                        <!-- Tipo de produto product -->
                        <label for="productImage">Imagens do produto</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input productImage" name="file" id="productImage"
                                multiple>
                            <label class="custom-file-label" for="customFile">Selecionar imagem</label>
                            <input type="hidden" name="idProductImage" class="idProductImage">
                        </div>
                    </div>
                </div>

                <div class="form-row imagesProductContainer my-3">
                </div>
                <button class="btn btn-primary btnInsertProduct" type="submit">Cadastrar produto</button>
            </form>
        </div>
    </div>
</div>