<!-- Modal -->
<div class="modal fade modalShowConsult" id="modalShowConsult" tabindex="-1" role="dialog"
    aria-labelledby="modalShowConsultLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Consulta #<i class="consultId"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <strong>Nome: </strong> <span class="consultName"></span>
                    </div>
                    <div class="col-6">
                        <strong>Sobrenome: </strong> <span class="consultSurname"></span>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-12">
                        <strong>E-mail: </strong> <span class="consultMail"></span>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-6">
                        <strong>Cidade: </strong> <span class="consultCity"></span>
                    </div>
                    <div class="col-6">
                        <strong>Estado: </strong> <span class="consultAddress"></span>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-6">
                        <strong>IP: </strong> <span class="consultIp"></span>
                    </div>
                    <div class="col-6">
                        <strong>Código: </strong>
                        <h3><span class="consultCode"></span></h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>