<!-- Modal -->
<div class="modal fade modalErrValidation" id="modalErrValidation" tabindex="-1" role="dialog"
    aria-labelledby="modalConsultLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center px-0">
                <h1>Etiqueta violada.</h1>
                <p class="mb-4">
                    Se você comprou um produto Bratva<br>
                    com a etiqueta de segurança já violada,<br>
                    corre risco do seu produto ser falso.
                </p>
                <p>
                    Fale com seu vendedor ou<br>
                    informe ao sistema de segurança Bratva.
                </p>
                <button type="button" class="btn btn-black mt-4" data-dismiss="modal">realizar nova consulta</button>
            </div>
        </div>
    </div>
</div>