<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Tipo de usuário</th>
                <th>Açoes</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Tipo de usuário</th>
                <th>Açoes</th>
            </tr>
        </tfoot>
        <tbody>
            <!-- LISTAGEM DE USUÁRIOS -->
            {{#each users}}
            <tr role="row" class="odd">
                <td class="sorting_1">{{name}}</td>
                <td>{{email}}</td>
                <td>{{type}}</td>
                <td></td>
            </tr>
            {{else}}

            {{/each}}
        </tbody>
    </table>
</div>