.home-about
    & h1
        // Style for "BratvaLabs"
        color #000000
        font-size 32px
        font-weight 700
    & p
        // Style for "Estamos en"
        color #000000
        font-size 20px
        line-height 36px
        font-weight 400
        letter-spacing 0.3px
        & i
            color #808080
            font-weight 400
            font-style italic

    & h4
        // Style for "Conheça no"
        color #333333
        font-size 24px
        font-weight 700
        & a
            color #333333

.forms-home
    overflow hidden

.partnerts
    background-color #dadada
    padding-top 75px
    padding-bottom 75px
    & h1
        // Style for "Bratva Glo"
        color #333333
        font-size 32px
        font-weight 700

body 
    & .modalConsult, & .modalErrValidation, & .modalConsultError
        & .modal-dialog
            max-width 490px
            & .modal-content
                /* Style for "Retângulo" */
                background-color #BBBBBB
                border 0
                border-radius 0
                padding 80px 60px
                color #000000
                // Style for "Obrigado p"
                font-size 18px
                font-weight 400
                line-height 26px
                // Text style for "Obrigado p"
                letter-spacing 0.2px
                & h1
                    // Style for "Produto or"
                    color #000000
                    font-size 32px
                    font-weight 700
                & svg
                    max-width 80px
                & h2
                    // Style for "03I81AAWFH"
                    color #333333
                    font-size 32px
                    font-weight 600
                    text-transform uppercase

