.home-about
    & h1
        // Style for "BratvaLabs"
        color #000000
        font-size 32px
        font-weight 700
    & p
        // Style for "Estamos en"
        color #000000
        font-size 20px
        line-height 36px
        font-weight 400
        letter-spacing 0.3px
        & i
            color #808080
            font-weight 400
            font-style italic

    & h4
        // Style for "Conheça no"
        color #333333
        font-size 24px
        font-weight 700
        & a
            color #333333

.forms-home
    overflow hidden

.partnerts
    background-color #dadada
    height 360px
    & h1
        // Style for "Bratva Glo"
        color #333333
        font-size 32px
        font-weight 700
