.pageFooter
    & svg
        width 150px
        max-width 150px
    @media screen and (max-width: 995px)
        & .col-md-6
            text-align center !important
            margin-top 30px
            margin-bottom 15px

.thumbWrapper
    max-width 156px
    max-height 156px
    border-radius 5px
    background-color #ffffff
    display flex
    justify-content center
    align-items center
    padding 20px
    @media (min-width 1024px)
        width 150px
        height 150px
    img
        max-width 100%