.productImage
    background-color transparent
    border 1px solid #bbbbbb
    padding 50px
    & img
        width 100%
        max-width 227px

.productThumbnails
    & img
        max-width 100%
.productResume
    & .productTitle
        // Style for "Acetato de"
        color #000000
        font-family "Futura Std"
        font-size 32px
        font-weight 700
    & .productContent
        // Style for "• Solução"
        color #000000
        font-family "Futura Std"
        font-size 20px
        font-weight 400
        line-height 30px
        // Text style for "• Solução"
        letter-spacing 0.2px
        & ul
            padding-left 20px