.page-name 
    padding-top 55px
    padding-bottom 55px
    color #fff
    & h1
        /* Style for "Contato" */
        color: #ffffff
        font-family: "Futura Std"
        font-size: 48px
        font-weight: 700
        line-height: 48px
.page-description
    // Style for "Nosso supo"
    color #000000
    font-family "Futura Std"
    font-size 20px
    font-weight 500
    line-height 26px
    letter-spacing 0.2px
.background-black
    background-color #000 !important

.form-contact
    & input
        // Style for "Retângulo"
        height 50px
        border-radius 5px
        border 1px solid #bfbfbf
        background-color #ffffff
        &, &::placeholder
            // Style for "nome compl"
            color #808080
            font-family "Futura Std"
            font-size 18px
            font-weight 400
    & textarea
        &, &::placeholder
            // Style for "nome compl"
            color #808080
            font-family "Futura Std"
            font-size 18px
            font-weight 400
    & button
        // Style for "Retângulo"
        width 319px
        height 60px
        border-radius 5px
        border 0
        background-color #000000
        // Style for "enviar men"
        color #ffffff
        font-family "Futura Std"
        font-size 20px
        font-weight 400
        // Text style for "enviar men"
        letter-spacing 0.5px